<style>
  body {
    color: red;
    background: <%= @color %>;
  }
</style>

<h1>About Me</h1>
<p>Lots of interesting stuffs.</p>
<h1>About Travel</h1>
<p>Greetings, you've arrived to our about page. Our main goal is to provide you an effective and efficient submission to travel ports.</p>

<%= link_to "Cool", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Danger", about_path(color: "red"), class: "btn btn-danger" %>
