<h1>Welcome to Rsoon's Travel Page</h1>
<p>This is my very awesome travel site.</p>

<% @my_countries.each do |country| %>
  <h2><%= destination.city %></h2>
  <h3><%= destination.country %></h3>
  <p><%= destination.description %></p>
<% end %>