<h1>Welcome to Rsoon's Travel Page</h1>
<p>This is my very awesome travel site.</p>

<%= @homeland %>


<ol>
  <% @countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ol>


<% @images_tag.each do |image| %>
<%= image_tag image, width: 500 %>
<% end %>
