
<%= image_tag photo, class: "img-responsive" %>

<h1>Welcome to Rsoon's Travel Page</h1>
<p>This is my very awesome travel site.</p>

<%= @homeland %>


<ol>
  <% @countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ol>

<ul>
  <% @travel_pics.each do |pic| %>
  <li><%= image_tag pic, width: 500 %></li>
  <% end %>
</ul>

